@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;700&display=swap");

:root {
  /* colors */
  --primary-color: #da2c38;
  --secondary-color: #0446ff;
  --dark-color: #102542;
  --light-color: #ece8fb;
}

/* general */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Bitter";
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* header */

header {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

header .flex {
  justify-content: space-between;
}

header li {
  margin: 0 15px;
}

header a {
  color: var(--light-color);
  letter-spacing: 3px;
}

header a:hover {
  border-bottom: var(--light-color) 1px solid;
}

/* start */
.start {
  background-color: var(--primary-color);
}

.start .container {
  border: var(--dark-color) 2px solid;
  border-radius: 10px;
  min-height: 90vh;
  background: var(--secondary-color);
}

.start h2 {
  letter-spacing: 5px;
  font-size: 40px;
  margin: 30px 0;
  text-shadow: 5px 5px 10px black;
}

.start span {
  color: var(--primary-color);
  transition: 1s;
}

.start span:hover {
  transform: scale(1.1);
}

.start .flex {
  flex-direction: column;
  justify-content: space-around;
}

.start form input {
  height: 40px;
  max-width: 300px;
  padding: 0 10px;
  border-radius: 10px;
  text-align: center;
}

.room-control {
  margin: 40px auto;
}

/* game */
.game {
  background-color: var(--primary-color);
}

.game .container {
  background: var(--secondary-color);
  border: var(--dark-color) 2px solid;
  border-radius: 10px;
  min-height: 90vh;
  overflow: hidden;
}

.game .flex {
  flex-direction: column;
  justify-content: space-between;
}

.game-info {
  width: 100%;
  background: var(--dark-color);
  border: var(--light-color) 2px solid;
  border-radius: 10px;
  padding: 5px 0;
  animation: slideInFromTop 1s;
}

.game-info.flex {
  flex-direction: row;
}

.game-info h4,
h2 {
  margin: 0 30px;
  letter-spacing: 1px;
}

.time-area {
  margin: 10px 0;
}

.time-area.flex {
  flex-direction: row;
}

.clock {
  max-width: 45px;
  margin: 0 10px;
}

.game-footer {
  width: 100%;
  background: var(--dark-color);
  border: var(--light-color) 2px solid;
  border-radius: 10px;
  padding: 15px 0;
  animation: slideInFromBottom 1s;
}

.game-footer.flex {
  flex-direction: row;
}

.game-footer .btn:hover {
  background: var(--light-color);
}

.game-board {
  margin: 15px;
  box-shadow: 5px 5px 10px black;
}

.game-board.grid {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.3px;
}

.square {
  max-width: 90px;
  max-height: 90px;
  padding: 12px;
  margin-top: -1px;
  margin-left: -1px;
}

.end-game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 6;
}

.modal {
  border: var(--dark-color) 4px solid;
  background: var(--light-color);
  margin: 275px auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(255, 0, 0, 1);
  position: relative;
}

.modal.flex {
  justify-content: space-evenly;
  height: 50%;
}

.modal .grid {
  height: 40px;
}

.modal img {
  max-width: 400px;
  padding: 20px;
}

.modal .btn {
  margin: 0;
}

/* footer */
.footer {
  background-color: var(--primary-color);
  padding: 10px 0;
  text-align: center;
}

.footer nav li a {
  color: var(--light-color);
}

.footer nav li a:hover {
  color: var(--dark-color);
}

.footer .social a {
  margin: 0 10px;
  color: var(--secondary-color);
}

.footer .social i {
  transition: 0.6s;
}

.footer .social i:hover {
  transform: translateY(-10px);
}

/* utility classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* boxes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* card */
.card {
  background-color: var(--light-color);
  color: #333;
  border: var(--dark-color) 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 5px 5px 10px black;
}

/* Button-stuff */
.btn {
  display: inline-block;
  padding: 10px 30px;
  margin: 5px 20px;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--dark-color);
  border: none;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(0.98);
  background: var(--dark-color);
  color: var(--primary-color);
}

.btn:disabled {
  background: var(--secondary-color);
  cursor: not-allowed;
}

/* Text colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

.band {
  animation-name: band;
  animation-duration: 1.5s;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes band {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media only screen and (max-width: 720px) {
  .container {
    padding: 0 10px;
  }

  .room-control.grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .game-info.flex {
    flex-direction: column;
  }

  .game-board {
    margin: 5px;
  }

  .game-board.grid {
    gap: 0.1px;
  }

  .game-footer .flex {
    flex-direction: column;
  }

  .game-footer h2 {
    font-size: 18px;
    text-align: center;
  }

  .game-footer .btn {
    padding: 5px 10px;
  }

  header .flex {
    flex-direction: column;
    padding-bottom: 5px;
  }

  header ul.flex {
    flex-direction: row;
  }

  .start h2 {
    letter-spacing: 3px;
    font-size: 34px;
    margin: 15px 0;
    text-align: center;
  }

  .start span {
    margin: 25px 0;
  }

  .game-info h4,
  h2 {
    margin: 0;
    letter-spacing: 0;
  }

  .name-timer.flex {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .square {
    padding: 6px;
  }

  .clock {
    max-width: 35px;
    max-height: 35px;
  }
}
